html {
  scroll-behavior: smooth;
}
body.b1 {
  background-color: white;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}
div.gallery {
  margin: 5px;
  max-width: 326px;
  max-height: 640px;
  border-radius: 5px;
  border: solid 2px #808080;
}

div.gallery:hover {
  box-shadow: 13px, 19px, 13px, 19px;
  border-radius: 5px;
  box-shadow: 8px 11px 15px rgba(0, 0, 0, 0.4);
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

div.desc {
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 94%;
  color: black;
}

div.background img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

a {
  color: black;
  text-decoration-line: none;
  font-family: sans-serif;
}

a.b1 {
  display: inline-block;
  font-size: 15px;
  line-height: 120%;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color ease 400ms;
}

a.b1:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

a.gototop {
  background-color: #dddddd;
  font-size: 30px;
  color: black;
  width: 100px;
  height: 100px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  top: calc(50% - 80px);
}

a.gotodown {
  top: calc(50% - 0);
}

/* scrolldown animation start */

div.scrolldown {
  margin-top: 700px;
}

.scrolldown {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: -0.1s;
}
.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}
/* scrolldown animation end */

table.recenttb {
  background-color: white;
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  position: relative;
}

table {
  border-collapse: collapse;
}

tr.tr1 {
  background-color: #99ccff;
}

th.th1,
td.td1 {
  padding: 1em;
  size: 13px;
}

p.p1 {
  text-align: justify;
  letter-spacing: 1px;
  color: white;
  padding: 6px 18px 15px 18px;
  font-size: 14px;
}
p {
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 12px;
}

footer {
  background-color: #333333;
  width: 100%;
  height: auto;
}

h4 {
  color: white;
  padding-left: 21px;
}

nav.navbar {
  align-self: center;
  background-color: white;
  max-width: 100%;
  padding-bottom: 3.5px;
  height: 60px;
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 0;
}

nav a {
  position: sticky;
  top: 0;
}

section.recenttb1 {
  padding-top: 30px;
}

@media (max-width: 480px) {
}
.btext {
  font-size: 14px;
}
